<script>
    $(document).ready(function () {
        $(".commingsoon-btn").click(function () {
            $("#commingsoonPopupModal").modal();
        });
    });
    
</script>

<div id="commingsoonPopupModal" class="modal fade commingsoon_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="commingsoon-text">COMMING SOON</span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>